<IfModule mod_rewrite.c>
############################################
## Enable rewrites

    Options +FollowSymLinks
    Options -Indexes
    RewriteEngine on

############################################
## TRACE and TRACK HTTP methods disabled to prevent XSS attacks

    RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
    RewriteRule .* - [L,R=405]

############################################
## Remove www from host

    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

    RewriteCond %{HTTPS} on
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

############################################
## Remove index.php from uri

    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}.*index\.php [NC]
    RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

############################################
## Remove trailing slash

    RewriteRule ^(.*)\/$ /$1 [R=302,L]

############################################
## Never rewrite for existing files, directories and links

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l

############################################
## Rewrite everything else to index.php

    RewriteRule .* index.php [L]
</IfModule>

############################################
## Prevent character encoding issues from server overrides
## If you still have problems, use the second line instead

    AddDefaultCharset Off
    #AddDefaultCharset UTF-8
    AddType 'text/html; charset=UTF-8' html

<IfModule mod_expires.c>
############################################
## Add default Expires header
## http://developer.yahoo.com/performance/rules.html#expires

    ExpiresDefault "access plus 1 year"
    ExpiresByType text/html A0
    ExpiresByType text/plain A0
</IfModule>

###########################################
## Deny access to files that begin with a dot
    <FilesMatch "^\.">
        Require all denied
    </FilesMatch>
    <Files README.md>
        Require all denied
    </Files>
    <Files composer.json>
        Require all denied
    </Files>
    <Files composer.lock>
        Require all denied
    </Files>

# For 404s and 403s redirect to index
ErrorDocument 403 /pub/pages/403.html
ErrorDocument 404 /pub/pages/404.html

# For 500s that aren't handled by the application, show plain response
ErrorDocument 500 /pub/pages/internal_error.html
ErrorDocument 503 /pub/pages/maintenance.html

<IfModule mod_headers.c>
    ############################################
    ## Prevent clickjacking
    Header set X-Frame-Options SAMEORIGIN
</IfModule>
