* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
}

a {
    color: inherit;
    opacity: 0.9;

    &:hover, &:focus {
        opacity: 1;
    }
}

button {
    cursor: pointer;
    font-family: inherit;

    &:disabled {
        cursor: default;
    }
}

label {
    cursor: pointer;
}

input, textarea {
    font-family: inherit;
}

ul {
    list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}
