header {
    background: #fff;
    border-bottom: 1px solid black;
    height: 50px;
    position: relative;
    width: 100%;

    .logo {
        &__container {
            box-sizing: border-box;
            height: 100%;
            padding: 3px 0;
            text-align: center;
        }

        &__image {
            height: 100%;
        }
    }
}

@media (max-width: 375px) {
    header .logo__container {
        padding: 8px 0;
    }
}
