* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

.word-break {
    word-wrap: break-word;
}

button {
    outline: none;
    /*@TODO: temporary solution, should be some kind of focus effect*/
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
