* {
    margin: 0;
    padding: 0;
}

body {
    color: #333333;
    display: grid;
    font-family: Tahoma, sans-serif;
    grid-template-rows: 50px 1fr auto;
    min-height: 100vh;
}

.page-header {
    border-bottom: 1px solid #000000;
    position: relative;
    width: 100%;
}

.logo {
    box-sizing: border-box;
    height: 100%;
    padding: 3px 0;
    text-align: center;
}

.logo__link {
    display: inline-block;
    height: 100%;
}

.logo__image {
    height: 100%;
}

.error {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
    text-align: center;
}

.error::before {
    background: url('/media/images/logo.svg') center / cover;
    content: '';
    inset: 0;
    position: absolute;
    opacity: 0.05;
    z-index: -1;
}

.error__title {
    font-size: 7rem;
    margin-bottom: 20px;
}

.error__info {
    margin: 5px 0;
}

.error__link {
    border: 2px solid #ee0000;
    color: #ee0000;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.error__link::after {
    border: 2px solid transparent;
    content: '';
    height: 100%;
    inset: 0;
    margin: auto;
    pointer-events: none;
    position: absolute;
    transition: border-color 0.4s ease, height 0.4s ease, width 0.4s ease;
    width: 100%;
}

.error__link:hover::after,
.error__link:focus::after {
    border-color: inherit;
    height: calc(100% + 10px);
    width: calc(100% - 10px);
}

.page-footer {
    background: #ffffc2;
    padding: 10px;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333333;
        color: #e6e6e6;
    }

    .page-header {
        border-color: #e6e6e6;
    }

    .logo__image, .error::before {
        filter: invert(90%);
    }

    .error__link {
        border: 2px solid #e6e6e6;
        color: #e6e6e6;
    }

    .page-footer {
        background: none;
        border-top: 1px solid #e6e6e6;
    }
}
