.timer-hint {
    border: 1px solid #000;
    margin: 5px;
}

.timer-hint .hint-content {
    background: #fff;
    padding: 20px 10px;
}

.timer-hint .hint-content .hint-title {
    text-align: center;
}

.timer-hint .hint-content p {
    margin: 20px 0;
}

.hint-button-container {
    text-align: center;
}

.hint-button-container .hint-button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0 20px;
    padding: 10px 20px;
}

.hint-button-container .hint-button:hover {
    background: #f5f5dc;
}
