@import 'footer.css';

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    opacity: .9;
}

a:hover {
    opacity: 1;
}

.page-wrapper h1 {
    padding: 20px;
}

.page-wrapper p {
    padding: 5px 20px;
}
