html, body {
    height: 100%;
}

.page-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.content {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

footer {
    background: #ffffc2;
    flex-shrink: 0;
    text-align: center;
    padding: 10px 0;
}
