@import 'base.css';
@import 'header.css';
@import 'message.css';
@import 'menu.css';
@import 'range-slider.css';
@import 'radial-slider.css';
@import 'footer.css';

.page-wrapper {
    position: relative;
}

.page-wrapper .mobile-overlay {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    z-index: 9;
}

.page-wrapper .content {
    background-color: #7DD0B6;
    background-image: url('/pub/media/images/back.jpg');
}

.page-wrapper .content .timer-container {
    height: 350px;
    left: 50%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.page-wrapper .content .timer-container .timer-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
}

.page-wrapper .content .timer-container .timer-wrapper.radial-container .radial-slider {
    display: block;
}

.page-wrapper .content .timer-container.in-progress .timer-wrapper.radial-container .radial-slider {
    display: none;
}

.page-wrapper .content .timer-container .timer-wrapper .timer-button-container {
    height: 250px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    z-index: 1;
}

.page-wrapper .content .timer-container .timer-wrapper .timer-button-container .timer-button {
    background-color: red;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #ab3c3c;
    cursor: pointer;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.page-wrapper .content .timer-container .timer-wrapper .timer-button-container .timer-button span {
    display: none; /*@TODO: Temporary solution to hide text on the main button*/
}

.page-wrapper .content .timer-container .timer-wrapper .timer-button-container .timer-button:hover {
    left: 0;
    top: 0;
    transform: scale(0.99);
}

.page-wrapper .content .timer-container .timer-wrapper .timer-button-container .timer-button:active {
    left: 0;
    top: 0;
    transform: scale(0.98);
}

.page-wrapper .content .timer-container .timer-wrapper .timer-button-container .timer-button:before {
    border: solid transparent;
    border-left-color: #fff;
    border-width: 50px 0 50px 100px;
    box-shadow: 0 0 0 0 #fff;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
}

.page-wrapper .content .timer-container .timer-wrapper .timer-button-container .timer-button:after {
    background: #fff;
    content: "";
    height: 100px;
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    width: 0;
}

.page-wrapper .content .timer-container.in-progress .timer-wrapper .timer-button-container .timer-button:before {
    border-color: #fff;
    border-width: 50px 1px 50px 29px;
    left: 40%;
}

.page-wrapper .content .timer-container.in-progress .timer-wrapper .timer-button-container .timer-button:after{
    width: 30px;
}

.page-wrapper .content .timer-container button span {
    color: #fff;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.page-wrapper .content .timer-container .timer-wrapper .loader {
    display: none;
    height: 300px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.page-wrapper .content .timer-container.in-progress .timer-wrapper .loader {
    display: block;
}

.page-wrapper .content .timer-container .timer-wrapper .loader .vjs-loading-spinner {
    background-clip: padding-box;
    border: 15px solid rgba(43,51,63,0.7);
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    opacity: 0.85;
    text-align: left;
    width: 100%;
}

.page-wrapper .content .timer-container .timer-wrapper .loader .vjs-loading-spinner:after,
.page-wrapper .content .timer-container .timer-wrapper .loader .vjs-loading-spinner:before {
    animation: vjs-spinner-spin 1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1s linear infinite;
    border: inherit;
    border-radius: inherit;
    border-top-color: #fff;
    box-sizing: inherit;
    content: "";
    height: inherit;
    margin: -15px;
    opacity: 1;
    position: absolute;
    width: inherit;
}

.page-wrapper .content .timer-container .timer-wrapper .loader .vjs-loading-spinner:after {
    animation-delay: 0.44s;
    border-top-color: #fff;
}

@keyframes vjs-spinner-spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes vjs-spinner-fade {
    0%, 100%, 20%, 60% {
        border-top-color: #73859f;
    }

    35% {
        border-top-color: #fff;
    }
}

.page-wrapper .content .timer-container .random-button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.page-wrapper .content .timer-container .random-button-container .random-button {
    background-color: blue;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px 3px #3c69ab;
    cursor: pointer;
    height: 75px;
    width: 75px;
}

.page-wrapper .content .timer-container .random-button-container .random-button:hover {
    left: 0;
    top: 0;
    transform: scale(0.99);
}

.page-wrapper .content .timer-container .random-button-container .random-button:active {
    left: 0;
    top: 0;
    transform: scale(0.98);
}

@media (max-width: 640px) {
    .page-wrapper {
        min-width: 100%;
    }

    .menu.active + .page-wrapper .mobile-overlay {
        display: block;
    }
}
