@import 'base.css';
@import 'message.css';
@import 'menu.css';
@import 'range-slider.css';
@import 'radial-slider.css';
@import 'footer.css';

body {
    overflow: hidden;
}

.page-wrapper {
    position: relative;
}

.page-wrapper .mobile-overlay {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    z-index: 9;
}

.page-wrapper .content {
    /*background: #7DD0B6;*/
    background: url('/pub/media/images/back.jpg');
    z-index: 5;
}

.page-wrapper .content header {
    background: white;
    height: 50px;
    text-align: center;
    position: relative;
    width: 100%;
}

.page-wrapper .content header .logo-container {
    height: 44px;
    left: 50%;
    padding: 3px 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.page-wrapper .content header .logo-container img {
    height: 100%;
}

.page-wrapper .content .timer-container {
    background: white;
    height: 350px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 350px;
}

.page-wrapper .content .timer-container .timer-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
}

.page-wrapper .content .timer-container .timer-wrapper.radial-container .radial-slider {
    display: block;
}

.page-wrapper .content .timer-container.in-progress .timer-wrapper.radial-container .radial-slider {
    display: none;
}

.page-wrapper .content .timer-container .timer-wrapper .timer-button-container {
    height: 250px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 250px;
    z-index: 1;
}

.page-wrapper .content .timer-container .timer-wrapper .timer-button-container .timer-button {
    background-color: red;
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.page-wrapper .content .timer-container button span {
    color: white;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.page-wrapper .content .timer-container .timer-wrapper .loader {
    display: none;
    height: 300px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
}

.page-wrapper .content .timer-container.in-progress .timer-wrapper .loader {
    display: block;
}

.page-wrapper .content .timer-container .timer-wrapper .loader .vjs-loading-spinner {
    background-clip: padding-box;
    border: 15px solid rgba(43,51,63,0.7);
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    opacity: 0.85;
    text-align: left;
    width: 100%;
}

.page-wrapper .content .timer-container .timer-wrapper .loader .vjs-loading-spinner:after,
.page-wrapper .content .timer-container .timer-wrapper .loader .vjs-loading-spinner:before {
    -webkit-animation: vjs-spinner-spin 1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1s linear infinite;
    animation: vjs-spinner-spin 1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1s linear infinite;
    border: inherit;
    border-color: transparent;
    border-radius: inherit;
    border-top-color: #fff;
    box-sizing: inherit;
    content: "";
    height: inherit;
    margin: -15px;
    opacity: 1;
    position: absolute;
    width: inherit;
}

.page-wrapper .content .timer-container .timer-wrapper .loader .vjs-loading-spinner:after {
    -webkit-animation-delay: 0.44s;
    animation-delay: 0.44s;
    border-top-color: #fff;
}

@keyframes vjs-spinner-spin {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes vjs-spinner-spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes vjs-spinner-fade {
    0%, 100%, 20%, 60% {
        border-top-color: #73859f;
    }

    35% {
        border-top-color: #fff;
    }
}

@-webkit-keyframes vjs-spinner-fade {
    0%, 100%, 20%, 60% {
        border-top-color: #73859f;
    }

    35% {
        border-top-color: #fff;
    }
}

.page-wrapper .content .timer-container .random-button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.page-wrapper .content .timer-container .random-button-container .random-button {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: none;
    background-color: blue;
}

@media (max-width: 640px) {
    .page-wrapper {
        min-width: 100%;
    }

    .menu.active + .page-wrapper .mobile-overlay {
        display: block;
    }
}

@media (max-width: 375px) {
    .page-wrapper .content header .logo-container {
        left: unset;
        height: 32px;
        padding: 8px 0;
        right: 5px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
