.range-slider {
    padding: 0 10px;
}

.range-slider .range-controls {
    background: #808080;
    height: 4px;
    margin: 20px 0;
    pointer-events: none;
    position: relative;
    width: 100%;
}

.range-slider .range-controls .min-range,
.range-slider .range-controls .max-range {
    /*beer glasses*/
    /*background: url('/pub/media/images/glass.png') center;*/
    /*background-size: cover;*/

    /*dots*/
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.25);

    content: '';
    cursor: pointer;
    height: 25px;
    pointer-events: all;
    position: absolute;
    top: -250%;
    transform: translateX(-50%);
    width: 25px;
}

/*beer glasses*/
/*.range-slider .range-controls .max-range {*/
/*    transform: scale(-1, 1);*/
/*}*/
