############################################
## Default index file

    DirectoryIndex index.php

<IfModule mod_rewrite.c>
############################################
## Enable rewrites

    RewriteRule ^(.*)\/$ /$1 [L,R]

    Options +FollowSymLinks
    Options -Indexes
    RewriteEngine on

############################################
## Workaround for HTTP authorization
## in CGI environment

    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

############################################
## TRACE and TRACK HTTP methods disabled to prevent XSS attacks

    RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
    RewriteRule .* - [L,R=405]

############################################
## Never rewrite for existing files, directories and links

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l

############################################
## Rewrite everything else to index.php

    RewriteRule .* index.php [L]
</IfModule>

############################################
## Prevent character encoding issues from server overrides
## If you still have problems, use the second line instead

    AddDefaultCharset Off
    #AddDefaultCharset UTF-8

<IfModule mod_expires.c>
############################################
## Add default Expires header
## http://developer.yahoo.com/performance/rules.html#expires

    ExpiresDefault "access plus 1 year"
    ExpiresByType text/html A0
    ExpiresByType text/plain A0
</IfModule>

# For 404s and 403s redirect to index
ErrorDocument 403 /
ErrorDocument 404 /

# For 500s that aren't handled by the application, show plain 500 response
ErrorDocument 500 /pages/maintenance.html

###########################################
## Deny access to files that begin with a dot
    <FilesMatch "^\.">
        Require all denied
    </FilesMatch>

<IfModule mod_headers.c>
    ############################################
    ## Prevent clickjacking
    Header set X-Frame-Options SAMEORIGIN
</IfModule>
