<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Framework/Schema/events.xsd">
    <event name="http_frontend_action">
        <observer name="layout_page" class="Awesome\Frontend\Observer\PageLayoutObserver" sortOrder="8"/>
    </event>
</config>
