@font-face {
    font-family: Rockwell;
    src: url('../fonts/rockwell.ttf');
}

.visualizer {
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Rockwell, sans-serif;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.visualizer .legend {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    left: 10px;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.visualizer .legend .trackname.in {
    animation: in 0.4s ease;
}

.visualizer .legend .trackname.out {
    animation: out 0.4s ease;
    animation-fill-mode: forwards;
    position: absolute;
}

@keyframes in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.visualizer .legend .timecode:before {
    background: linear-gradient(to right, white, transparent);
    content: '';
    display: block;
    height: 5px;
    margin: 10px 0 10px -15px;
    width: 30vw;
}

.visualizer .canvas {
    left: 75%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.visualizer .player {
    bottom: 10px;
    left: 10px;
    position: absolute;
    width: calc(100% - 20px);
}

.visualizer.vertical .legend {
    left: 50%;
    text-align: center;
    top: 50px;
    transform: translateX(-50%);
}

.visualizer.vertical .legend .timecode:before {
    background: linear-gradient(to right, transparent, white, transparent);
    margin: 10px 0;
    width: 100%;
}

.visualizer.vertical .canvas {
    left: 50%;
}

@media only screen and (min-width: 768px) {
    .visualizer .legend {
        font-size: 32px;
    }

    .visualizer .player:not(.nohide) {
        opacity: 0;
    }

    .visualizer .player:not(.nohide):hover {
        opacity: 1;
    }
}
