html, body {
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-wrapper header {
    flex-shrink: 0;
}

.page-wrapper .content {
    flex-grow: 1;
    flex-shrink: 0;
}

.page-wrapper footer {
    background: #ffffc2;
    flex-shrink: 0;
    text-align: center;
    padding: 10px 0;
}
