header {
    background: #fff;
    border-bottom: 1px solid black;
    height: 50px;
    text-align: center;
    position: relative;
    width: 100%;
}

header .logo-container {
    height: 44px;
    left: 50%;
    padding: 3px 0;
    position: absolute;
    transform: translateX(-50%);
}

header .logo-container img {
    height: 100%;
}

@media (max-width: 375px) {
    header .logo-container {
        left: unset;
        height: 32px;
        padding: 8px 0;
        right: 5px;
        transform: none;
    }
}
