.messages-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 25px;
    top: 20px;
    width: 300px;
    z-index: 50;
}

.messages-container.slide-down {
    animation: slide-down 0.4s ease;
}

.messages-container .message {
    background-color: #f9edbe;
    border: 1px solid #f0c36d;
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin: 5px 0;
    padding: 10px;
}

.messages-container .message.error {
    background-color: #ff7a7f;
    border: 1px solid #ff6b45;
}

@media (max-width: 480px) {
    .messages-container {
        left: 25px;
        width: auto;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-20px);
    }
    
    100% {
        transform: translateY(0);
    }
}
